.header-music-div {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  -webkit-box-pack: justify;
  /* -ms-flex-pack: justify; */
  /* -webkit-padding-end: 16px; */
  align-items: center;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  height: 64px;
  justify-content: space-between;
  max-width: calc(100vw - var(--nav-bar-width));
  /* padding: 16px; */
  /* padding-inline-end: 16px; */
  position: relative;
  width: 100%;
  z-index: 3;
}

@media (min-width: 1024px) {
  .header-music-div {
    /* -webkit-padding-end: 32px; */
    padding: 16px 32px;
    padding-inline-end: 32px;
  }
}

.manu-div-navar {
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  display: -webkit-box;
  /* display: -ms-flexbox; */
  display: flex;
}

.btn-register-music {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;

  text-transform: uppercase;
}

@media (min-width: 768px) {
  /* .btn-register-music {
    font-size: 1.125rem;
          line-height: 1.5rem;
          text-transform: none;
          letter-spacing: normal;
  } */
}
