.home-div-first {
  border: green solid 1px;
  width: 100%;
  height: 100%;
  display: flex;
}

.content-music {
  width: 85%;
  height: 100%;
  background-color: rgb(136, 131, 131, 0.1);
}

.navbar-div {
  width: 15%;
  display: flex;
  flex-direction: column;

  /* background-color: aquamarine; */
}
