.app {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.navbar-div {
  width: 15%;
  display: flex;
  flex-direction: column;

  /* background-color: aquamarine; */
}

/*  */
/* https://m.media-amazon.com/images/M/MV5BYTY3MmQ2NzYtZmI2ZC00MWNmLWJjNWUtYzc4YTUxODI5YjI4XkEyXkFqcGdeQXVyMzc4NzQ2ODA@._V1_.jpg */
/* https://denelecampbell.files.wordpress.com/2018/02/o-music-heart-facebook.jpg */
